
# H1:Data Science Tools And Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Pyton
2. Sql
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. TensorFlow 
4. Keras   
5. Seaborn


 |Data Science Tools|  
 |------------------|
 |Jupter Notebooks|
 |IDE   |
 |R Studio|

### H3:Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:
## List popular languages for Data Science
- Pyton
- Sql
- R

## H2: Author
Habinshuti Callixte